/*HEADER*/
.logo div {
    background-color: antiquewhite;
}

/*CAR GALLERY*/

.wrapper h2{
    font-family: cursive;
    font-size: 28px;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    
}
.gallery a {
    width: 240px;
    height: 540px;
    margin: 20px 10px 0;
    position: relative;
    margin: 10px 5px;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.08);
    animation: a .2s linear;
}
.gallery a:hover{
    opacity: 0.8;
}
.gallery a div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
    height: 236px;
    background-color: #181818;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery a h3 {
    font-family: monospace;
    font-size: 20px;
    font-weight: 700;
    color: #111;
    text-transform: uppercase;
    text-decoration-style: none;
}
.gallery a p {
    font-family: monospace;
    font-size: 15px;
    font-weight: 700;
    color: #111;
    text-transform: none;
    text-decoration-style: none;
}

/* HOVERING TEST DRIVE TEXT */

.gallery a .text { 
		position: absolute;		
    top: 20%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
    opacity: 0;
    transition: all 0.8s ease;			
}

.gallery a .text h4 {		
		margin: 0;		
		color: white;
}
.gallery a:hover .text {
	opacity: 1;
}

/* ADMIN ADD_CAR MENU */

.add-car {
    background-color: azure;
    height: auto;
    width: 400px;
    align-items: center;
}
.add-car input{
    margin: 20px 20px 0;
}


